@charset "utf-8";

.head .logo {
    float: left;
    padding: 2px 5px 0 5px;
}
img{
    border-width:0px
}
* {
    margin: 0;
    padding: 0;
}
.head .logo h2  img{
    background:url(../../images/logo_school.png) repeat-y left top;
    float:left;
    width: 262px;
    height: 60px;
}
.head .logo h3 img {
    background:url(../../images/logo_jw.png) repeat-y left top;
    float:left;
    width: 167px;
    height: 60px;
}
.head .logo {
    float: left;
    height:47px;
}
.head {
    background: #fff url(../../images/head_bg.gif) repeat-x left top;
}
.masthead {
    margin-top: 6px;
}

.head {
    width: 100%;
    float: left;
    overflow:hidden;
}
/*====================学校图片====================*/
.head .logo {
    float: left;
    background: url(../../images/head_leftbg.gif) no-repeat left top;
}
.head .logo h2,.head .logo h3{
    float: left
}
.info {
    background: url(../../images/info_bg.gif) no-repeat right top;
    width:390px;
    height:60px;
    color:#000;
}
.info li{
    background: url(../../images/linge_3.gif) no-repeat right 40%;
    *background: url(../../images/linge_3.gif) no-repeat right 50%;
}
.info a{
    color:#000;
    padding:1px;
}
.info a:hover{
    color:#fff;
    background:#2358AE
}
.info ul{

}
.info li{
    display:inline;
    height:23px;
    line-height:23px;
}
.info {
    padding-right:10px;
    float:right;
}
.info ul{
    padding-left:15px;
    float:right;
}
.info li{
    display:inline;
    height:23px;
    line-height:23px;
    padding:0 2px 0 5px!important;
    *padding:0 5px 0 5px;
}
.tab {
    width:100%;
}
.tab div{border:0!important;}/*========EXT冲突=========*/
.tab ul {
}
.tab li {
    float: left;
}
.location {
    display:block;
    margin-left:5px;
    text-align:left;
    padding:5px 0;
}
.location em {
    font-style: normal;
}